extends layout

block content
  h1= title
  p Welcome to #{title}, a website dedicated to archiving important historical maps.
  p #[strong Map Count:] !{map_count}
  p #[strong Cartographer Count:] !{cartographer_count}
  p #[strong Maptype Count:] !{maptype_count}
